{% extends 'base.html' %}

{% block content %}



<div class="content-wrapper flex justify-content-center align-items-center login-container flex-direction-column">
  <section class="container main-container">
    <div class="main_page">
      <div class="current-page">
        <h2 class="display-5 pl-3">동아리홍보</h2>
      </div>
      <div class="content-header club_header">
        <h4 class="p-3">{{board[0][4]}}<small class="float-right">{{board[0][6]}}</small></h4>
        <ul class="tg_list">
          {%if board[0][0] != ''%}
            <li class="tg_club">{{board[0][0]}}</li>
          {%endif%}
          {%if board[0][1] != ''%}
            <li class="tg_club">{{board[0][1]}}</li>
          {%endif%}
          {%if board[0][2] != ''%}
            <li class="tg_club">{{board[0][2]}}</li>
          {%endif%}
          {%if board[0][3] != ''%}
            <li class="tg_club">{{board[0][3]}}</li>
          {%endif%}
          {%if board[0][5] != ''%}
            <li class="tg_club">{{board[0][5]}}</li>
          {%endif%}
        </ul>
      </div>
      <div class="content p-3">
        <div class="content-img-wrap">
          {% if imgNm != None %}
            <img src ="../static/image/{{imgNm}}.jpg"/>
          {% endif%}
        </div>
        <h5 class="pt-3 mb-5">{{board[0][7]}}</h5>
      </div>


    </div>

  </section>
</div>


{% endblock %}