<div class="bottom-header-wrap">
  <div class="bottom-header-box">
    <a class="btn-menu" title="모바일 메뉴 열기">
      <span class="hide">모바일 메뉴 열기</span>
    </a>
    <div class="gnb">
      <ul class="gnb-ul">
        <li>
          <a href="/promotion" title="동호회">동호회</a>
          <ul class="sub-mn">
            <li>
              <a href="/promotion" title="홍보게시판">홍보게시판</a>
            </li>
            <li>
              <a href="/free" title="자유게시판">자유게시판</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/reservation" title="강좌예약">강좌예약</a>
          <ul class="sub-mn">
            <li>
              <a href="/reservation" title="강좌예약">강좌예약</a>
            </li>
            <li>
              <a href="/find" title="체육시설 찾기">체육시설 찾기</a>
            </li>

          </ul>
        </li>
        <li>
          <a href="/notice" title="공지사항">공지사항</a>
<!--          <ul class="sub-mn">-->
<!--            <li>-->
<!--              -->
<!--            </li>-->
<!--            <li>-->
<!--            </li>-->
<!--          </ul>-->
        </li>
      </ul>

    </div>
  </div>
<!--  <nav class="slideMenu">-->
<!--    <ul>-->
<!--      <li class="active">-->
<!--        <a title="전체메뉴">전체메뉴</a>-->
<!--        <div class="m-gnb">-->
<!--          <ul class="dep1">-->
<!--            <li>-->
<!--              <a href="/promotion" title="동호회" class="selsected">동호회</a>-->
<!--              <ul class="dep2 pl-0">-->
<!--                <li>-->
<!--                  <a href="/promotion" title="홍보게시판">홍보게시판</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="/free" title="자유게시판">자유게시판</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="/reservation" title="강좌예약">강좌예약</a>-->
<!--              <ul class="dep2 pl-0">-->
<!--                <li>-->
<!--                  <a href="/reservation" title="강좌예약">강좌예약</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="/find" title="체육시설 찾기">체육시설 찾기</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="/notice" title="공지사항">공지사항</a>-->
<!--              <ul class="dep2 pl-0">-->
<!--                <li>-->
<!--                  <a href="/notice" title="공지사항">공지사항</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </li>-->

<!--    </ul>-->
<!--    <a class="slide-close" title="모바일 메뉴 닫기"><span class="hide">모바일 메뉴 닫기</span></a>-->
<!--  </nav>-->
  <div class="m-gnb-bg" style="display: none;">&nbsp;</div>
</div>