<div class="bottom-header-wrap">
  <div class="bottom-header-box">
    <div class="gnb">
          <ul class="gnb-ul pt-4">
            <li>
              <a class="main_menu" href="/club" title="동호회">동호회</a>
              <ul class="sub-mn">
                <li>
                  <a href="/club" title="동호회게시판">동호회게시판</a>
                </li>
                <li>
                  <a href="/board" title="자유게시판">자유게시판</a>
                </li>
              </ul>
            </li>
            <li>
              <a class="main_menu" href="/facility" title="체육시설">체육시설</a>
            </li>
          </ul>
    </div>
  </div>

  <div class="m-gnb-bg" style="display: none;">&nbsp;</div>
</div>